pyTelegramBotAPI
python-dotenv
geopy
beautifulsoup4
openai
aiohttp
resend
cryptography
bcrypt
strip-markdown
tzlocal
fish-audio-sdk[utils]
fish-audio-sdk
elevenlabs
aiofiles
bytesbufio
piper-tts
firecrawl-py
serpapi